{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="body-bg">
    <div class="form-container">
        <h2>Login</h2>
        <div class="sign-up-text">Don't have an account? <a href="{% url 'register-page' %}">Sign up</a></div>
        <form id="loginForm" onsubmit="handleLogin(event)">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="input-field">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="input-field">
            <button type="submit">Login</button>
        </form>
    </div>
    <script type="text/javascript">
        function handleLogin(event) {
            event.preventDefault();  

            var formData = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            };

            fetch('{% url "login" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.token) {
                    alert('Login successful!');
                    console.log('Login successful:', data);
                } else if (data.non_field_errors) {
                    alert('Login failed: ' + data.non_field_errors.join(' '));
                    console.error('Login failed:', data);
                } else {
                    alert('Login failed: Please check your input.');
                    console.error('Login failed:', data);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        }
    </script>
</body>
</html>