<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script type="text/javascript">
        function handleLogin(event) {
            event.preventDefault();  

            var formData = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            };

            fetch('{% url "login" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h2>Login</h2>
    <form id="loginForm" onsubmit="handleLogin(event)">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
        <button onclick="location.href='{% url 'register-page' %}'">Register</button>
    </form>
</body>
</html>
