{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="body-bg">
    <div class="form-container">
        <h2>Register</h2>
        <div class="login-text">Already have an account? <a href="{% url 'login-page' %}">Log in</a></div>
        {% csrf_token %}
        <form method="post" action="{% url 'register' %}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="input-field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="input-field">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="input-field">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="input-field">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="input-field">
            <button type="submit">Register</button>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            event.preventDefault();  
            var formData = {
                username: document.getElementById('username').value,
                email: document.getElementById('email').value,
                first_name: document.getElementById('first_name').value,
                last_name: document.getElementById('last_name').value,
                password: document.getElementById('password').value
            };

            fetch('{% url "register" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Registration successful!');
                } else {
                    alert('Registration failed: ' + data.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        });
    </script>
</body>
</html>