body {
    font-family: Arial, sans-serif;
    background-image: url('https://source.unsplash.com/random/800x600?abstract');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 30%;
    min-width: 300px;
}
h2 {
    text-align: center;
    color: #0047ab;
}
label {
    margin: 10px 0 5px;
    color: #333;
}
input, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #0047ab;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #007bff;
}
.sign-up-text {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}
.sign-up-text a {
    color: #0049a8;
    text-decoration: none;
    font-weight: bold;
}