body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
label, input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}
input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #0047ab;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #007bff;
}